.create{
    padding: rem(20);
    padding-bottom: 0;
    padding-top: rem(27);
    font-family: $OpenSans;
    color: $gunmetal;

    &__design {
        text-transform: uppercase;
        padding-bottom: rem(7);
        border-bottom: rem(1) solid $white-two;
        cursor: pointer;
        &--icon{
            color: $tomato;
            width: rem(21);
            height: rem(18);
        }

        &--title {
            font-size: rem(18);
            margin: rem(0) rem(0) rem(0) rem(10);
            font-weight: 600;
            font-family: $OpenSans;
    
        }
        &--arrow {
            width: rem(16);
            height: rem(18);
            color: $gunmetal;
            font-size: rem(18);
        }
        &--text {
            margin: rem(73) rem(219) rem(132) rem(19);
            font-size: rem(14);
            top: rem(5);    
        }
        // &--form {
        //     display: flex;
        // }
    }
}

.design-view{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.view-left {
    display: flex;
    flex-direction: row;
}

.view-hidden{
    margin: rem(22) rem(0) rem(23) rem(0);

}

.hidden {
    display: none;
}



.color-1, .color-2, .color-3{
    width: rem(17);
    height: rem(17);
    margin-right: rem(10);
    align-self: center;
}

.colormix {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: rem(10) rem(0) rem(10) rem(0);
    
    &__1-1 {
        width: rem(30);
        height: rem(25);
        background-color: $darkblue;
    }

    &__1-2{
        width: rem(30);
        height: rem(25);
        background-color: $dirtyblue;
    }

    &__1-3{
        width: rem(30);
        height: rem(25);
        background-color: $hospitalgreen;
    }

    &__2-1{
        width: rem(30);
        height: rem(25);
        background-color: $driedBlood;
    }

    &__2-2{
        width: rem(30);
        height: rem(25);
        background-color: $rustyRed;
    }

    &__2-3{
        width: rem(30);
        height: rem(25);
        background-color: $tomato;
    }

    &__3-1{
        width: rem(30);
        height: rem(25);
        background-color: $slateBlue;
    }

    &__3-2{
        width: rem(30);
        height: rem(25);
        background-color: $fadedOrange;
    }

    &__3-3{
        width: rem(30);
        height: rem(25);
        background-color: $lightGreyBlue;
    }

}