// Colors

$color-white: #ffffff;
$color-light-gray: #f5f5f5;
$color-white-gray: #d5d5d5;
$color-very-light-gray: #c5c5c5;
$color-lighter-gray: #d8d8d8;
$color-dark-gray: #54585a;
$color-brownish-gray: #6b6b6b;
$color-gray: #6b6b6b;
$color-dull-orange: #e17334;
$color-dark-green-blue: #114e3e;
$color-dirty-blue: #438792;
$color-deep-blue: #4f97f7;
$color-hospital-green: #a2deaf;
$color-dried-blood: #420101;
$color-rusty-red: #bd1010;
$color-tomato: #e95626;
$color-slate: #3e5b65;
$color-faded-orange: #eab052;
$color-light-grey-blue: #a0c0cf;
$color-light-grey-2: #cccbcb;

// Landing
$color-border-landing: rgba(225, 115, 52, 0.21);

$color-link-deactivated: $color-light-grey-2;

$color-1-palette1: $color-dark-green-blue;
$color-1-palette2: $color-dried-blood;
$color-1-palette3: $color-slate;

$color-2-palette1: $color-dirty-blue;
$color-2-palette2: $color-rusty-red;
$color-2-palette3: $color-faded-orange;

$color-3-palette1: $color-hospital-green;
$color-3-palette2: $color-tomato;
$color-3-palette3: $color-light-grey-blue;

// Responsive Sizes

$width-tablet: 768px;
$width-desktop: 1200px;

// Fonts
$primary-Font: 'Open Sans', sans-serif;
